@import "mixin";

@include mediaUltraSmall{
    .header{        
        justify-content: space-around;        
        .header-holder2{
            margin: 5px 5px;
        }
    }
    .products{
        
        .products-holder{
            max-width: 100%;            
            grid-template-columns: 1fr;
            padding: 0;
        }
    }
    .productAdd{
        .productAdd-container{
            .productAdd-container-attributes{                
                .productAdd-container-attributes-holder{
                    max-width: 100%;
                }
            }
            .productAdd-container-switcher{                
                .productAdd-container-switcher-holder{
                    max-width: 100%;
                    justify-content: space-between;
                    select{
                        margin: 0;
                    }                    
                } 
                .productAdd-container-switcher-form{
                    .productAdd-container-switcher-form-holder{
                        max-width: 100%;
                    }                    
                }               
            }
        }
    }
}